header{
	background: #bbbbbb;
}

.caixa{
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 120px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 22px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	text-decoration: none;
	padding: 40px;
}

nav a:hover {
	background: #fff;
	border: 2px solid #000;
}

.produto{
	width: 940px;
	margin: 0 auto;  
	padding: 50px 0;
}

.produto li{
	display: inline-block;
	text-align: center;
	width: 30%;
	padding: 30px 20px; 
	margin: 0 1.5%;
	box-sizing: border-box;
	border: 2px solid #000;
	border-bottom: 20px solid #000;
	border-radius: 20px;
}

.produto li:hover {
	border-color: green; 

}

.produto li:hover h2 {
	font-size: 25px;
	
}

.produto li:active{
	border-color: red;
}

.produto h2{
	font-size: 20px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}


.produto h3{
	font-size: 18px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	margin-top: 15px;
}

.produto p{
	font-size: 20px;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}