body{ 

}
.principal{
	background: #ccc;
	padding: 30px; 
}

h1{ 
	text-align: center; color: #8B0000;  
}

p{ 
	text-align: center; 

}

#missao {
	font-size: 22px;
}

#localizacao{
	font-size: 20px;
	color: #00008B;
	font-family: justify;
}

#profissionais{
	font-weight: bold;
}

strong{ 
	color: black; 

}
			
em strong{ 
	color: darkblue; 

}
#banner{
	width: 100%;
}

.beneficios{
	background: #FFF;
}

h2{
	text-align: center;
	padding-top: 25px;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.itens{
	font-style: italic; 
	font-size: 20px;
	font-family: Avantgarde, TeX Gyre Adventor, RW Gothic L, sans-serif;
}

.imagembeneficios{
	width: 50%;
}

